


<h1><b>List of all reviews for <%= @trail.name %></h1>


<% @reviews.each do |review| %>
    


<ul>
 Here's what <%= @user_reviewed.name %> had to say about this dumb trail: 
 <br>
<%= review.content %>
</ul>
<% end %>


